.header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 72px;
  background-color: var(--lightest-gray);
  box-shadow: var(--box-shadow);

  .logo {
    display: flex;
    align-items: center;
  }
}
