.navigation {
  display: flex;
  align-items: center;
  height: 72px;
  margin: 0 auto;

  .navigation-list {
    display: flex;
    gap: 24px;
  }

  .navigation-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-dark);
    transition: color var(--transition-duration) var(--transition-timing-function);
  }

  .navigation-link:hover {
    color: var(--secondary-red);
  }

  .navigation-link.is-active {
    color: var(--secondary-red);
  }
}
