.camper-info {
  .camper-info-name {
    margin-bottom: 8px;
  }

  .camper-info-details-data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
  }

  .camper-info-details-location {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .camper-info-details-price {
    font-weight: 600;
    margin-right: 24px;
  }

  .camper-info-gallery-holder {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .camper-info-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .camper-info-gallery-image {
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 10px;
    background-color: var(--light-gray);
    box-shadow: var(--box-shadow);
  }

  .camper-info-description {
    margin-bottom: 48px;
  }
}
